<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database</title>
    <link rel="stylesheet" href="database.css">
</head>
<body>
    <h1>Project Database</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Repo Link</th>
                <th>Thumbnail</th>
            </tr>
        </thead>
        <tbody>
            <% projects.forEach(project => { %>
                <tr>
                    <td><%= project.name %></td>
                    <td><a href="<%= project.repo %>"><%= project.repo %></a></td>
                    <td><img src="<%= project.thumbnail %>" alt="<%= project.name %> Thumbnail" width="100"></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>
