<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="database.css">
    <title>Database Page</title>
</head>
<body>
    <button id="toggleButton" class="toggle-btn">Toggle Theme</button>
    <% if (editable) { %>
    <a href="/logout" class="logout-btn">Logout</a>
    <% } %>
    <div class="container">
        <h2>Projects Database</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Repository</th>
                    <th>Thumbnail</th>
                </tr>
            </thead>
            <tbody>
                <% projects.forEach((project, index) => { %>
                <tr>
                    <td>
                        <% if (editable) { %>
                        <form action="/edit" method="post" class="edit-form">
                            <input type="hidden" name="index" value="<%= index %>">
                            <input type="text" name="name" value="<%= project.name %>">
                        </form>
                        <% } else { %>
                        <%= project.name %>
                        <% } %>
                    </td>
                    <td>
                        <% if (editable) { %>
                        <form action="/edit" method="post" class="edit-form">
                            <input type="hidden" name="index" value="<%= index %>">
                            <input type="text" name="repo" value="<%= project.repo %>">
                        </form>
                        <% } else { %>
                        <a href="<%= project.repo %>"><%= project.repo %></a>
                        <% } %>
                    </td>
                    <td>
                        <% if (editable) { %>
                        <form action="/edit" method="post" class="edit-form">
                            <input type="hidden" name="index" value="<%= index %>">
                            <input type="text" name="thumbnail" value="<%= project.thumbnail %>">
                        </form>
                        <% } else { %>
                        <img src="<%= project.thumbnail %>" alt="<%= project.name %>">
                        <% } %>
                    </td>
                </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
    <script src="script.js"></script>
</body>
</html>
